// 颜色
$vowui-doc-blue: #3683d6;
$vowui-doc-green: #42b983;
$vowui-doc-purple: #8080ff;
$vowui-doc-black: #45526b;
$vowui-doc-borderColor: #eaecef;
$vowui-doc-bg-color: #e9f0f8;

//字体
$vowui-doc-code-font-family: 'Source Code Pro', 'Monaco', 'Inconsolata';

// 布局
$vowui-doc-sidebarWidth: 250px;
$vowui-doc-contentWidth: 900px;
